.registerbutton{
	text-align: center;
}

#mainimage{
	margin: auto;
	height: 600px;
	width: 1500px;
	
}

.herp{
	border: solid black;
}

.footerlink{
	text-align: right;
}

.center{
	text-align:center;
}

.leftalign{
	text-align:left;
}

